# ODISE
black==24.8.0
diffdist==0.1
flake8-comprehensions==3.15.0
fvcore==0.1.5.post20221221
huggingface-hub==0.24.6
importlib_metadata==8.4.0
iopath==0.1.10
jmespath==1.0.1
kornia==0.7.3
pathspec==0.12.1
s3transfer==0.10.2
taming-transformers-rom1504==0.0.6
yacs==0.1.8
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/openai/CLIP.git@main#egg=clip
git+https://github.com/cocodataset/panopticapi.git
