trimesh==4.11.2
pyexr==0.5.0
plyfile==1.1.3
OpenEXR==3.4.4
pysdf==0.1.9
pymongo==4.16.0
addict==2.4.0
kubernetes==35.0.0
colorama==0.4.6
pycocotools==2.0.11
fvcore==0.1.5.post20221221
opencv-python-headless==4.13.0.92
huggingface-hub==0.36.0
torchdata==0.11.0
pycryptodome==3.23.0
einops==0.8.2
scikit-fmm==2025.6.23
scipy==1.17.0
plotly==6.5.2
orjson==3.11.7
git+https://github.com/xheon/PyMarchingCubes.git@a6ad0388187b50dc62032a39359463d811af6768
warp-lang==1.11.1
fastrlock==0.8.3
